#artalk_container
  font-family $fontfamily
  code
    color var(--color-inlinecode)
    font-family $fontfamily-code
    &:before
      margin-top -5px
#artalk_container code {
  text-shadow: unset;
}
#comments
  overflow: inherit

.b-video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}