#artalk_container
  font-family $fontfamily
  code
    color var(--color-inlinecode)
    font-family $fontfamily-code
    &:before
      margin-top -5px
#artalk_container code {
  text-shadow: unset;
}
#comments
  overflow: inherit
#l_body.grayscale #l_side section.widget:nth-child(-n+3),
#l_body.grayscale #l_main .post-list > .post-wrapper:nth-child(-n+3) {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}