/* AI */
.post-TianliGPT {
  background: var(--color-block);
  border-radius: 12px;
  padding: 12px;
  line-height: 1.3;
  
  margin: 16px 0;
}

@media screen and (max-width: 768px) {
  .post-TianliGPT {
    margin-top: 22px;
  }
}

.tianliGPT-title {
  display: flex;
  color: #ff6600;
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  cursor: default;
  user-select: none;
}

.tianliGPT-title-text {
  font-weight: bold;
  margin-left: 8px;
  line-height: 1;
}

.tianliGPT-explanation {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--color-site-body);
  border-radius: 8px;
  
  font-size: 15px;
  line-height: 1.4;
  display: flex;
}

.tianliGPT-suggestions {
  display: flex;
  flex-wrap: wrap;
}

.tianliGPT-suggestions .tianliGPT-suggestions-item {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--color-site-body);
  border-radius: 8px 8px 8px 0;
  
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  width: fit-content;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.tianliGPT-suggestions .tianliGPT-suggestions-item:hover {
  background: #8e44ad;
  color: #ffffff;
}

.blinking-cursor {
  background-color: #8e44ad;
  width: 10px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  animation: blinking-cursor 0.5s infinite;
  -webkit-animation: blinking-cursor 0.5s infinite;
  margin-left: 4px;
}

@keyframes blinking-cursor {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tianliGPT-tag {
  font-size: 12px;
  background-color: #3dd9b6;
  color: var(--color-site-body);
  font-weight: bold;
  border-radius: 4px;
  margin-left: auto;
  line-height: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.tianliGPT-tag:hover {
  background: var(--color-p);
  color: var(--color-site-body);
}

ins.adsbygoogle {
  margin: 16px 0;
  background: var(--color-site-body);
  border-radius: 12px;
  overflow: hidden;
  
}

#tianliGPT-Toggle {
  font-size: 12px;
  background: #3dd9b6;
  color: var(--color-site-body);
  padding: 4px;
  border-radius: 4px;
  margin-left: 6px;
  transform: scale(0.8);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

#tianliGPT-Toggle:hover {
  background: var(--color-p);
  color: var(--color-site-body);
}

.tianliGPT-title-icon {
  width: 20px;
  height: 20px;
}

.tianliGPT-title-icon svg {
  width: 20px;
  height: 20px;
  fill: #8e44ad;
}

.tianliGPT-title-icon svg path {
  fill: #ff6600;
}